button {
  padding: 6px 10px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

thead th {
  background-color: black;
  color: white;
}
