.hero-img {
  height: 100%;
  width: 100%;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.clinicians-container {
  width: 100%;
  margin-bottom: 10px;
}

.clinicians-container header {
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clinicians-container h2 {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  flex-basis: calc(100% / 2);
  text-align: center;
}

.col-half p {
  margin: 12px 0;
}

.width-85 {
  width: 85%;
  margin: 0 auto;
}
